@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<widgets-hello-world></widgets-hello-world>

<script type="text/javascript" src="~/js/AngularWidgets/runtime.js"></script>
<script type="text/javascript" src="~/js/AngularWidgets/polyfills.js"></script>
<script type="text/javascript" src="~/js/AngularWidgets/main.js"></script>
